@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

p {
    font-weight: 300;
    color: #111;
}

.banner {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner.jpg);
    background-size: cover;
}

.banner .media {
    position: relative;
    left: 30%;
    max-width: 900px;
}

.banner .media h2 {
    color: #fff;
    font-size: 35px;
}

.banner .media p {
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
}

.banner .media .tom{
    text-decoration: none;
    color: white;
    margin-left: 13%;
}

.tom {
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
    background: #79D263;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
}

.tom2 {
    font-size: 1.1em;
    font-weight: 600;
    color: #79D263;
    background: #fff;
    border-radius: 3px;
    border: 3px solid #79D263;
    display: inline-block;
    padding: 7px 17px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
}

.form button {
    margin-top: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    padding: 10px 70px;
    z-index: 10000;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 0px 70px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header a {
    width: auto;
    height: auto;
    position: left, fixed;
}

header ul li{
    display: inline-block;
}

header li {
    list-style: none;
    margin-left: 30px;
}

header li a {
    text-decoration: none;
    color: white;
    font-weight: 450;
    font-size: 1.2em;
}

header.sticky li a {
    color: #363636;
}
header.sticky .tom {
    color: white;
}
header.sticky .tom2 {
    color: #79D263;
}
header li a:hover {
    color: #79D263;
    text-decoration: none;
}
header li .tom:hover {
    color: white;
}
header .dropdown button{
    color: white;
    font-size: 20px;
    font-weight: 450;
}

header.sticky li button {
    color: #363636;
}

header .dropdown button:hover{
    color: #79D263;
}

.about {
    background-color: #79D263;
    height: 375px;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    padding: 50px 100px;
    position: relative;
    width: 100%;
}
.media-body h2{
    color: #fff;
    font-size: 2.3em;
    font-weight: 500;
    margin-bottom: 20px;
    padding-left: 110px;
    padding-top: 60px;
}
.media-body p{
    color: #fff;
    padding-left: 110px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.media-body hr{
    border-top: 3px solid #FFFFFF;
    margin-left: 110px;
}
.media img{
    width: 37%;
    padding-right: 150px;
    padding-left: 30px;
    padding-top: 2%;
}
.titleText {
    color: #fff;
    font-size: 2.3em;
    font-weight: 500;
    margin-bottom: 20px;
}

.col50 p {
    color: #fff;
    font-size: 1.3em;
    font-weight: 400;
    width: 700px;
}

.row .col50 .imgBx {
    position: relative;
    width: 80%;
    height: 150%;
    right: 100px;
    bottom: 30px;
    left: 30px
}

.row .col50 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: auto;
}

.col50 hr {
    position: relative;
    top: 30px;
    border-top: 3px solid #FFFFFF;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h2 {
    padding-top: 100px;
    color: rgba(0, 0, 0, 0.8);
}

.artikel .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.artikel .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.artikel .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.artikel .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artikel .content .box .text {
    padding: 15px 0 5px;
}

.artikel .content .box .text h3 {
    font-weight: 500;
    font-size: 25px;
    color: #111;
    padding-bottom: 5px;
}

.artikel .content .box .link {
    padding: 10px 0;
}

.artikel .content .box .link a {
    color: #3670d2;
    font-weight: bold;
    text-decoration: none;
}
.artikel .tom{
    text-decoration: none;
    color: white;
}
.popup {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
}

.login {
    position: relative;
    width: 60%;
    height: 75%;
    background-color: #FFFFFF;
    border-radius: 15px;
    
}

.login .imgBx {
    position: relative;
    width: 50%;
    height: 70%;
    margin: 80px 60px 0px 40px;
}

.login .imgBx img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login .imgBx p {
    position: absolute;
    bottom: -30px;
    right: 105px;
    font-size: 1.2em;
    font-weight: 400;
}

.login .imgBx a {
    text-decoration: none;
    color: #3670d2;
}

.login .form h1 {
    margin: 80px 0px 0px 0px;
}

.login .form div {
    margin-top: 80px;
}

.login .form i {
    float: left;
    font-size: 30px;
}

.login .form input {
    width: 220px;
    height: 30px;
    font-size: 1.3em;
    margin-left: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}

.login .test {
    padding-top: 100px;
}


.login .close {
    position: absolute;
    top: 10px;
    right: 20px;
    opacity: 70%;
    font-size: 35px;
    cursor: pointer;
}


.regist {
    position: relative;
    width: 70%;
    height: 90%;
    background-color: #FFFFFF;
    border-radius: 15px;
    display: none;
}

.regist .imgBx {
    position: relative;
    width: 50%;
    height: 70%;
    margin: 80px 60px 0px 40px;
}

.regist .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.regist .imgBx p {
    position: absolute;
    bottom: -30px;
    right: 27%;
    font-size: 1.2em;
    font-weight: 400;
}

.regist .imgBx a {
    text-decoration: none;
    color: #3670d2;
}

.regist .form h1 {
    margin: 30px 0px 0px 0px;
}

.regist .form div {
    margin-top: 40px;
}

.regist .form i {
    float: left;
    font-size: 30px;
}

.regist .form input {
    width: 240px;
    height: 30px;
    font-size: 1.3em;
    margin-left: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}


.regist .close {
    position: absolute;
    top: 10px;
    right: 20px;
    opacity: 70%;
    font-size: 35px;
    cursor: pointer;
}

.footer {
    position: relative;
    width: 100%;
    background: #373737;
    display: flex;
    justify-content: space-between;
    padding: 45px 200px;
    margin-top: 100px;
}

.footer p,
h2 {
    color: white;
    margin-bottom: 20px;
}

.footer a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
    position: relative;
    right: 20px;
}

.footer img {
    position: relative;
    right: 15px;
}

.footer .colom1 .phone {
    display: flex;
}

.footer .colom1 .phone .imgBx {
    position: relative;
    width: 20px;
    height: 20px;
    top: 5px;
}

.footer .colom1 .phone .imgBx img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.footer .colom2 li{
    list-style: none;
    text-decoration: none;
}
.footer .colom2 a:hover{
    text-decoration: none;
    color: #6DE559;
}

.footer .colom3 .email {
    position: relative;
    display: flex;
    top: 15px;
    left: 15px;
}

.footer .colom3 .email p {
    color: #79D263;
}

.footer .colom3 .email .imgBx {
    position: relative;
    bottom: 5px;
}

.footer .colom3 .sosmed {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer .colom3 .sosmed .imgBx {
    position: relative;
    width: 30px;
    height: 30px;
}

.footer .colom3 .sosmed .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer hr {
    border: 0.5px solid #fff;
}

.foot {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(87, 87, 87, 0.96);
    padding: 30px;
    font-size: 1.2em;
}

.foot span {
    color: #6DE559;
}

.login-content{
	display: flex;
	align-items: center;
	text-align: center;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
    width: 150px;
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
    margin-top: 0;
    width: 100%;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #38d39f;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}


.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 24px;
}


